/* Reset some default styles */
body {
  margin: 0;
  padding: 0;
}

/* Style the navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 10px;
  z-index: 100;
}
.active {
  background-color: #ac9393;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 10px;
}

.navbar li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Style the image section */
.image-section {
  text-align: center;
  margin-top: 50px;
}
img {
  height: 100vh;
  width: 100vw;
}

/* Style the bottom container */
.bottom-container {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
  height: 200vh;
}

.bottom-container h2 {
  color: #333;
}

.bottom-container p {
  color: #666;
}
