*{
    margin: 0;
    padding: 0;
}
.container{
    background: url('https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
    height: 100vh;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: aliceblue;
}
.popUp{
    background: url('https://images.unsplash.com/photo-1523289333742-be1143f6b766?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGNvdXJzZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: matrix(-50%);
    width: 500px;
    height: 250px;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.active.container{
    filter:blur(5px);
}
.active.popUp{
    visibility: hidden;
}
.close{
    position: fixed;
    top: -7%;
    left: 94%;
    width: 60px;
    font-size: medium;
   
}
